.banner {
	background-image: linear-gradient(0deg,rgba(250,50,0,0.9),rgba(80,0,0,0.1)), url(../../equipe.jpg);
	color: #333333; 
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
}

.banner h1 {
	font-size: 70px;
}

.banner h2 {
	font-size: 20px;
	font-weight: lighter;
	margin-bottom: 260px;
}